#primero{
  background-image: url('http://site2img-api.herokuapp.com/parse/files/MqX4RIjBpnVgUg9lRrxmWRsDVmqR5SCOaYmnSpnx/8cd25ad38b7a36fcf89c9aeea85fe0d0_ss.png');
}
#segundo{
  text-align: center;
  background-color: red;
}
#tercer{
  text-align: left;
  background-color: green;
}
